footer.p-2.pt-4.bg-light
      .container.p-2
            .row.align-items-center
                  .col-md-6.p-2.d-flex.justify-content-around
                        .content
                              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d368041.99046554655!2d-79.42818294313737!3d43.89047197446242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d37ac519f4a5%3A0x15f15caa17dfe71e!2sExtrusion%20Profiles!5e0!3m2!1sen!2sca!4v1680891702624!5m2!1sen!2sca" width="300px" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
                  .col-md-6.p-2
                        .content
                              section
                                    hgroup 
                                          h3 Hank Sinnott 
                                          h4 President
                                    div 
                                          p Email: hank@extrusionprofiles.com
                              section
                                    hgroup 
                                          h3 Deo Jagbeer
                                          h4 Operations Manager
                                    div 
                                          p Email: deo.jagbeer@extrusionprofiles.com
                              section
                                    hgroup 
                                          strong For inquiry quotes and to place orders: 
                                    div 
                                          p orders@extrusionprofiles.com <br> Phone: 905-940-3454
                              section
                                    hgroup 
                                          strong EXTRUSION PROFILES INC.
                                    div 
                                          p 110 Torbay Road, Unit #8 <br> Markham, Ontario <br> L3R-1G6 <br> Canada
            .row.align-items-center
                  .col-12
                        .content
                              section.text-center
                                    hr
                                    caption Copyright Extrusion Profiles Inc. © 2012 All rights reserved
                                    figcaption Designed and Maintained by: nated.eth
                                    