.p-3
      h4.font-italic Service Offerings
      ol.list-unstyled.mb-0
            li
                  a(href='/capabilities') Capabilties
            li
                  a(href='/capabilities') Design Enginnering Expertise
            li
                  a(href='/in-house-tooling') In House Tooling
            li
                  a(href='/in-house-tooling') Rebated Tooling Program
            li
                  a(href='/value-added-services') Quality Assurance
            li
                  a(href='/value-added-services') Value Added Services
            li
                  a(href='/profile-samples') Profile Samples