.header.header-fixed.u-unselectable.header-animated
  .header-brand
    .nav-item.no-hover
      a
        h6.title Extrusion Profiles
    #header-btn.nav-item.nav-btn
      span
      span
      span
  #header-menu.header-nav
    .nav-left
      #dropdown.nav-item.has-sub.toggle-hover
        a.nav-dropdown-link Service Offerings
        ul.dropdown-menu.dropdown-animated(role='menu')
          li(role='menu-item')
            a(href='#') Capabilities
          li(role='menu-item')
            a(href='#') In House Toolings
          li(role='menu-item')
            a(href='#') Quality Assurance
          li(role='menu-item')
            a(href='#') Value Added Services
          li(role='menu-item')
            a(href='#') Rebated Tooling Program
          li(role='menu-item')
            a(href='#') Design Engineering Expertise
          li(role='menu-item')
            a(href='#') Profile Samples
    .nav-right
      .nav-item.active
        a(href='#') Home
      .nav-item
        a(href='#') Contact Us
      .nav-item
        a(href='#') About Us
