.container
  header.blog-header.py-3
  .nav-scroller.py-1.mb-2
    nav.nav.d-flex.justify-content-between
      a.p-2.text-muted(href='#') Skylights
      a.p-2.text-muted(href='#') Windows
      a.p-2.text-muted(href='#') Greenhouses
      a.p-2.text-muted(href='#') Frames
      a.p-2.text-muted(href='#') Curtain Walls
      a.p-2.text-muted(href='#') Glazing
      a.p-2.text-muted(href='#') Frames
      a.p-2.text-muted(href='#') Coping
      a.p-2.text-muted(href='#') Ticket holders
      a.p-2.text-muted(href='#') Office partitions
      a.p-2.text-muted(href='#') Dock Bumpers
      a.p-2.text-muted(href='#') Wire managers
      a.p-2.text-muted(href='#') Seals & Gaskets
      a.p-2.text-muted(href='#') Frames
  .jumbotron.p-3.p-md-5.text-white.rounded.bg-dark
    .container 
      .row 
        .col-lg
          a(href="/").display-4.font-italic.text-white Extrusion Profiles Inc.
          p.lead.my-3
            | Quality Customer Plastic Extrusion 
            <br> Meeting the needs of your business
        .col-md-auto
          img.card-img-right.flex-auto.d-none.d-md-block(data-src='holder.js/200x250?theme=thumb' alt='Thumbnail [200x250]' style='width: 200px; height: 250px;' src="/assets/home/pg1_pic4_front.jpg" data-holder-rendered='true')
        .col-md-auto
          img.card-img-right.flex-auto.d-none.d-md-block(data-src='holder.js/200x250?theme=thumb' alt='Thumbnail [200x250]' style='width: 200px; height: 250px;' src="/assets/home/pg1_pic2_front.jpg" data-holder-rendered='true')