.container
  header.blog-header.py-3
  .nav-scroller.py-1.mb-2
    nav.nav.d-flex.justify-content-between
      a.p-2.text-muted(href='#') Skylights
      a.p-2.text-muted(href='#') Windows
      a.p-2.text-muted(href='#') Greenhouses
      a.p-2.text-muted(href='#') Frames
      a.p-2.text-muted(href='#') Curtain Walls
      a.p-2.text-muted(href='#') Glazing
      a.p-2.text-muted(href='#') Frames
      a.p-2.text-muted(href='#') Coping
      a.p-2.text-muted(href='#') Ticket holders
      a.p-2.text-muted(href='#') Office partitions
      a.p-2.text-muted(href='#') Dock Bumpers
      a.p-2.text-muted(href='#') Wire managers
      a.p-2.text-muted(href='#') Seals & Gaskets
      a.p-2.text-muted(href='#') Frames
  .jumbotron.p-3.p-md-5.text-white.rounded.bg-dark
    .col-md-6.px-0
      h1.display-4.font-italic Extrusion Profiles Inc.
      p.lead.my-3
        | Quality Customer Plastic Extrusion 
        <br> Meeting the needs of your business
      p.lead.my-3
        a.text-white.font-weight-bold Contact Us...
main.container(role='main')
  .row
    .col-md-8.blog-main
      .blog-post
        h2.blog-post-title Value Added Services
        p
          | Save time and money with Extrusion Profiles' value added services. From lineal to fully fabricated, ready-to-use assemblies, our tightly controlled processes meet your precise requirements. Through our commitment to continuous improvement, Extrusion Profiles provides additional value by partnering with you to reduce costs from design to manufacturing.
        hr
        p
          | Whether for prototype or production tooling, our tool and die team applies their extensive knowledge using advanced CAD/CAM software, CNC machining and the latest EDM tech- nology to custom build the highest quality tools.
      .card(style="border: none;").flex-md-row.mb-4.box-shadow.h-md-250
        img(style="width: 100%; height: auto;").card-img-right.flex-auto.d-none.d-md-block.img-fluid.rounded(data-src='holder.js/200x250?theme=thumb' alt='Thumbnail [200x250]' src="/assets/value-added-services/pg5_pic5small.jpg" data-holder-rendered='true')
      .blog-post
        h2.blog-post-title Rebated Tooling Program
        p
          | Passion for quality and continuous improvement is evident in Extrusion Profiles' highly responsive sales staff, expert tooling and design team and seasoned manufacturing staff. Our in-house quality assurance program continually meets or exceeds our customers' expectations at the lowest total cost.
        hr
        p
          | As a result, we're regularly recognized by our customers with quality compliments and preferred supplier status. We are honored by the trust our customers place in us and work tirelessly to maintain the best quality standards in the industry.
    // /.blog-main
    aside.col-md-4.blog-sidebar
      .p-3
        h4.font-italic Quality Assurance
        ol.list-unstyled.mb-0
          li
            a(href='#') Capabilties
          li
            a(href='#') In House Tooling
          li
            a(href='#') Quality Assurance
          li
            a(href='#') Value Added Services
          li
            a(href='#') Rebated Tooling Program
          li
            a(href='#') Design Enginnering Expertise
          li
            a(href='#') Profile Samples
      .p-3
        h4.font-italic Value Added Services include
        ol.list-unstyled.mb-0
          li Printing
          li Tape Application
          li Precision cut to length
          li Punching
          li Intricate end-cuts
          li Drilling anad routing
          li Drilling and routing
          li Joint continuous Improvement projects

//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script.
  Holder.addTheme('thumb', {
  bg: '#55595c',
  fg: '#eceeef',
  text: 'Thumbnail'
  });
