include ../../components/pug/top
main.container(role='main')
  .row
    .col-md-8.blog-main
      .blog-post
        h2.blog-post-title Value Added Services
        p
          | Save time and money with Extrusion Profiles' value added services. From lineal to fully fabricated, ready-to-use assemblies, our tightly controlled processes meet your precise requirements. Through our commitment to continuous improvement, Extrusion Profiles provides additional value by partnering with you to reduce costs from design to manufacturing.
        hr
        p
          | Whether for prototype or production tooling, our tool and die team applies their extensive knowledge using advanced CAD/CAM software, CNC machining and the latest EDM tech- nology to custom build the highest quality tools.
      .card(style="border: none;").flex-md-row.mb-4.box-shadow.h-md-250
        img.card-img-right.flex-auto.d-none.d-md-block.img-fluid.rounded(style="width: 100%; height: auto;" data-src='holder.js/200x250?theme=thumb' alt='Thumbnail [200x250]' src="/assets/value-added-services/pg5_pic5small.jpg" data-holder-rendered='true')
      .blog-post
        h2.blog-post-title Rebated Tooling Program
        p
          | Passion for quality and continuous improvement is evident in Extrusion Profiles' highly responsive sales staff, expert tooling and design team and seasoned manufacturing staff. Our in-house quality assurance program continually meets or exceeds our customers' expectations at the lowest total cost.
        hr
        p
          | As a result, we're regularly recognized by our customers with quality compliments and preferred supplier status. We are honored by the trust our customers place in us and work tirelessly to maintain the best quality standards in the industry.
    // /.blog-main
    aside.col-md-4.blog-sidebar
      include ../../components/pug/links
      .p-3
        h4.font-italic Value Added Services include
        ol.list-unstyled.mb-0
          li Printing
          li Tape Application
          li Precision cut to length
          li Punching
          li Intricate end-cuts
          li Drilling anad routing
          li Drilling and routing
          li Joint continuous Improvement projects
include ../../components/pug/footer
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script.
  Holder.addTheme('thumb', {
  bg: '#55595c',
  fg: '#eceeef',
  text: 'Thumbnail'
  });
