<!DOCTYPE html>
<html id="page">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Extrusion Profiles</title>
    <!-- Bootstrap core CSS-->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com//docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template-->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-3"></header>
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between"><a class="p-2 text-muted" href="#">Skylights</a><a class="p-2 text-muted" href="#">Windows</a><a class="p-2 text-muted" href="#">Greenhouses</a><a class="p-2 text-muted" href="#">Frames</a><a class="p-2 text-muted" href="#">Curtain Walls</a><a class="p-2 text-muted" href="#">Glazing</a><a class="p-2 text-muted" href="#">Frames</a><a class="p-2 text-muted" href="#">Coping</a><a class="p-2 text-muted" href="#">Ticket holders</a><a class="p-2 text-muted" href="#">Office partitions</a><a class="p-2 text-muted" href="#">Dock Bumpers</a><a class="p-2 text-muted" href="#">Wire managers</a><a class="p-2 text-muted" href="#">Seals & Gaskets</a><a class="p-2 text-muted" href="#">Frames</a></nav>
      </div>
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="container"> 
          <div class="row"> 
            <div class="col-lg"><a class="display-4 font-italic text-white" href="/">Extrusion Profiles Inc.</a>
              <p class="lead my-3">
                Quality Customer Plastic Extrusion <br> Meeting the needs of your business</p>
            </div>
            <div class="col-md-auto"><img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="/assets/home/pg1_pic4_front.jpg" data-holder-rendered="true"></div>
            <div class="col-md-auto"><img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="/assets/home/pg1_pic2_front.jpg" data-holder-rendered="true"></div>
          </div>
        </div>
      </div>
    </div>
    <main class="container" role="main">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">Profile Samples</h2>
          </div>
          <div class="card flex-md-row mb-4 box-shadow h-md-250" style="border: none;"><img class="card-img-right flex-auto d-none d-md-block img-fluid rounded" style="width: 100%; height: auto;" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="/assets/profile-samples/samples.jpg" data-holder-rendered="true"></div>
        </div>
        <!-- /.blog-main-->
        <aside class="col-md-4 blog-sidebar">
          <div class="p-3">
            <h4 class="font-italic">Service Offerings</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="/capabilities">Capabilties</a></li>
              <li><a href="/capabilities">Design Enginnering Expertise</a></li>
              <li><a href="/in-house-tooling">In House Tooling</a></li>
              <li><a href="/in-house-tooling">Rebated Tooling Program</a></li>
              <li><a href="/value-added-services">Quality Assurance</a></li>
              <li><a href="/value-added-services">Value Added Services</a></li>
              <li><a href="/profile-samples">Profile Samples</a></li>
            </ol>
          </div>
        </aside>
      </div>
    </main>
    <footer class="p-2 pt-4 bg-light">
      <div class="container p-2">
        <div class="row align-items-center">
          <div class="col-md-6 p-2 d-flex justify-content-around">
            <div class="content">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d368041.99046554655!2d-79.42818294313737!3d43.89047197446242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d37ac519f4a5%3A0x15f15caa17dfe71e!2sExtrusion%20Profiles!5e0!3m2!1sen!2sca!4v1680891702624!5m2!1sen!2sca" width="300px" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="col-md-6 p-2">
            <div class="content">
              <section>
                <hgroup> 
                  <h3>Hank Sinnott </h3>
                  <h4>President</h4>
                </hgroup>
                <div> 
                  <p>Email: hank@extrusionprofiles.com</p>
                </div>
              </section>
              <section>
                <hgroup> 
                  <h3>Deo Jagbeer</h3>
                  <h4>Operations Manager</h4>
                </hgroup>
                <div> 
                  <p>Email: deo.jagbeer@extrusionprofiles.com</p>
                </div>
              </section>
              <section>
                <hgroup> <strong>For inquiry quotes and to place orders: </strong></hgroup>
                <div> 
                  <p>orders@extrusionprofiles.com <br> Phone: 905-940-3454</p>
                </div>
              </section>
              <section>
                <hgroup> <strong>EXTRUSION PROFILES INC.</strong></hgroup>
                <div> 
                  <p>110 Torbay Road, Unit #8 <br> Markham, Ontario <br> L3R-1G6 <br> Canada</p>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12">
            <div class="content">
              <section class="text-center">
                <hr>
                <caption>Copyright Extrusion Profiles Inc. © 2012 All rights reserved</caption>
                <figcaption>Designed and Maintained by: nated.eth</figcaption>
              </section>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--
    Bootstrap core JavaScript
    ==================================================
    -->
    <!-- Placed at the end of the document so the pages load faster-->
    <script>
      Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
      });
    </script>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/assets/portal/chartist.js"></script>
<script src="/assets/home/index.js"></script>