section(style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; padding: 2em; flex-direction: column;")
            h1.cover-heading Error {{.Status}}
            p.lead {{.Message}}
            p.lead
                  a(href="/").btn.btn-log.btn-secondary Go To Home Page