.container
  header.blog-header.py-3
  .nav-scroller.py-1.mb-2
    nav.nav.d-flex.justify-content-between
      a.p-2.text-muted(href='#') Skylights
      a.p-2.text-muted(href='#') Windows
      a.p-2.text-muted(href='#') Greenhouses
      a.p-2.text-muted(href='#') Frames
      a.p-2.text-muted(href='#') Curtain Walls
      a.p-2.text-muted(href='#') Glazing
      a.p-2.text-muted(href='#') Frames
      a.p-2.text-muted(href='#') Coping
      a.p-2.text-muted(href='#') Ticket holders
      a.p-2.text-muted(href='#') Office partitions
      a.p-2.text-muted(href='#') Dock Bumpers
      a.p-2.text-muted(href='#') Wire managers
      a.p-2.text-muted(href='#') Seals & Gaskets
      a.p-2.text-muted(href='#') Frames
  .jumbotron.p-3.p-md-5.text-white.rounded.bg-dark
    .col-md-6.px-0
      h1.display-4.font-italic Extrusion Profiles Inc.
      p.lead.my-3
        | Quality Customer Plastic Extrusion 
        <br> Meeting the needs of your business
      p.lead.my-3
        a.text-white.font-weight-bold Contact Us...
main.container(role='main')
  .row
    .col-md-8.blog-main
      .blog-post
        h2.blog-post-title In-House Tooling
        p
          | Extrusion Profiles' in-house tooling capabclasses gives your product a distinct advantage by allowing you design flexibility, shorter sample lead times and reduced time to market. It's also an essential component for maintaining tight quality standards throughout the process.
        hr
        p
          | Whether for prototype or production tooling, our tool and die team applies their extensive knowledge using advanced CAD/CAM software, CNC machining and the latest EDM tech- nology to custom build the highest quality tools.
      .card(style="border: none;").flex-md-row.mb-4.box-shadow.h-md-250
        img(style="width: 100%; height: auto;").card-img-right.flex-auto.d-none.d-md-block.img-fluid.rounded(data-src='holder.js/200x250?theme=thumb' alt='Thumbnail [200x250]' src="/assets/in-house-tooling/pg3_pic3_front.jpg" data-holder-rendered='true')
      .blog-post
        h2.blog-post-title Rebated Tooling Program
        p
          | While custom tooling of extrusion profile dies and sizers can be very expensive, we at EPI have learned one thing for sure. A consistent profile begins with the right tooling. As such, we have established a program that ensures you received the highest quality tooling without having to spend a fortune. Size and complexity of the profile determines cost. It is this "Tooling Charge" that is a one time deposit, which is rebated 100% at a rate of 5% on related purchases. This "Tooling Deposit" entitles the customer the exclusive right to production from the tooling, and ensures no other persons are able to purchase from that die and sizer. All tooling however remains the physical property of Extrusion Profiles Inc.
      .card(style="border: none;").flex-md-row.mb-4.box-shadow.h-md-250
        img(style="width: 100%; height: auto;").card-img-right.flex-auto.d-none.d-md-block.rounded.img-fluid(data-src='holder.js/200x250?theme=thumb' alt='Thumbnail [200x250]' src="/assets/in-house-tooling/pg4_pic1_front.jpg" data-holder-rendered='true')
    // /.blog-main
    aside.col-md-4.blog-sidebar
      .p-3
        h4.font-italic Service Offerings
        ol.list-unstyled.mb-0
          li
            a(href='#') Capabilties
          li
            a(href='#') In House Tooling
          li
            a(href='#') Quality Assurance
          li
            a(href='#') Value Added Services
          li
            a(href='#') Rebated Tooling Program
          li
            a(href='#') Design Enginnering Expertise
          li
            a(href='#') Profile Samples

//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script.
  Holder.addTheme('thumb', {
  bg: '#55595c',
  fg: '#eceeef',
  text: 'Thumbnail'
  });
