include ../../components/pug/top
main.container(role='main')
  .row
    .col-md-8.blog-main
      .blog-post
        h2.blog-post-title Profile Samples
      .card(style="border: none;").flex-md-row.mb-4.box-shadow.h-md-250
        img(style="width: 100%; height: auto;").card-img-right.flex-auto.d-none.d-md-block.img-fluid.rounded(data-src='holder.js/200x250?theme=thumb' alt='Thumbnail [200x250]' src="/assets/profile-samples/samples.jpg" data-holder-rendered='true')

    // /.blog-main
    aside.col-md-4.blog-sidebar
      include ../../components/pug/links
include ../../components/pug/footer
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script.
  Holder.addTheme('thumb', {
  bg: '#55595c',
  fg: '#eceeef',
  text: 'Thumbnail'
  });
