.container
  header.blog-header.py-3
  .nav-scroller.py-1.mb-2
    nav.nav.d-flex.justify-content-between
      a.p-2.text-muted(href='#') Skylights
      a.p-2.text-muted(href='#') Windows
      a.p-2.text-muted(href='#') Greenhouses
      a.p-2.text-muted(href='#') Frames
      a.p-2.text-muted(href='#') Curtain Walls
      a.p-2.text-muted(href='#') Glazing
      a.p-2.text-muted(href='#') Frames
      a.p-2.text-muted(href='#') Coping
      a.p-2.text-muted(href='#') Ticket holders
      a.p-2.text-muted(href='#') Office partitions
      a.p-2.text-muted(href='#') Dock Bumpers
      a.p-2.text-muted(href='#') Wire managers
      a.p-2.text-muted(href='#') Seals & Gaskets
      a.p-2.text-muted(href='#') Frames
  .jumbotron.p-3.p-md-5.text-white.rounded.bg-dark
    .col-md-6.px-0
      h1.display-4.font-italic Extrusion Profiles Inc.
      p.lead.my-3
        | Quality Customer Plastic Extrusion 
        <br> Meeting the needs of your business
      p.lead.my-3
        a.text-white.font-weight-bold Contact Us...
main.container(role='main')
  .row
    .col-md-8.blog-main
      .blog-post
        h2.blog-post-title Profile Samples
      .card(style="border: none;").flex-md-row.mb-4.box-shadow.h-md-250
        img(style="width: 100%; height: auto;").card-img-right.flex-auto.d-none.d-md-block.img-fluid.rounded(data-src='holder.js/200x250?theme=thumb' alt='Thumbnail [200x250]' src="/assets/profile-samples/samples.jpg" data-holder-rendered='true')

    // /.blog-main
    aside.col-md-4.blog-sidebar
      .p-3
        h4.font-italic Quality Assurance
        ol.list-unstyled.mb-0
          li
            a(href='#') Capabilties
          li
            a(href='#') In House Tooling
          li
            a(href='#') Quality Assurance
          li
            a(href='#') Value Added Services
          li
            a(href='#') Rebated Tooling Program
          li
            a(href='#') Design Enginnering Expertise
          li
            a(href='#') Profile Samples

//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script.
  Holder.addTheme('thumb', {
  bg: '#55595c',
  fg: '#eceeef',
  text: 'Thumbnail'
  });
