include ../../components/pug/top
main.container(role='main')
  .row
    .col-md-8.blog-main
      .blog-post
        h2.blog-post-title About Us
        p
          | Extrusion Profiles Inc. is a custom extruder of thermoplastic resins, specializing in rigid, flexible and co-extruded products for a wide range of markets throughout North America.
        hr
        p
          | With over 40 years in the plastics industry, Extrusion Profiles Inc. is headed by its founding President, Hank Sinnott. Over the years, Hank has gained a well earned reputation as an innovator within the extrusion industry. He headed one of the first companies to employ the mainstream use of "Vacuum Sizing" technology. Which ensures a greater degree of quality and consistency in the overall shape and dimensions from one production run to another. While there are those still extruding with cooling methods other than "Vacuum Sizing" or "Vacuum Shaping". It is the policy of Extrusion Profiles Inc. that every rigid profile be produced using this technology.
        p
          | At Extrusion Profiles Incorporated we create the shapes of things to come. Not just simple off-the -shelf standard plastic extrusions, but complicated designed shapes that have to be right the first time every time. Although Extrusion Profiles Inc. offers very competitive pricing for standard extruded plastic when purchased in large quantities, we excel in the development and production of more challenging, specialized profiles and materials. Our in-house engineering team will utilize state of the art extrusion technology and materials to create custom plastic extrusions of any imaginable design.
        p
          | Extrusion Profiles Inc. employs on a regular basis, a large variety of plastic materials ranging from PVC to Polypropylene to custom compounds. Ongoing demand for more environmentally friendly compounds have resulted in material substitutions for LEEDS applications and similar requirements. Extrusion Profiles Inc. offers design assistance and compound suggestions for projects that require more ECO friendly materials.
    // /.blog-main
    aside.col-md-4.blog-sidebar
      include ../../components/pug/links
include ../../components/pug/footer
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script.
  Holder.addTheme('thumb', {
  bg: '#55595c',
  fg: '#eceeef',
  text: 'Thumbnail'
  });
